body {
    background-color: hotpink;
    font-family: 'Lora', serif;
}

#gray {
    color: #D3D3D3;
    font-size: 0.6em;
}

.nav-item {
    text-align: right;
}

#navbarSupportedContent {
    background-color: black;
}